<section>
  <p>
    Over the last few years, the London based imprint, Hegoa, has taken great strides toward
    illuminating the shadowy world of contemporary music emerging from the Basque region,
    an autonomous community in northern Spain with its own distinct cultural traditions and language.
  </p>
</section>

<section>
  <h2><strong>catalog</strong></h2>
  <ul>
    {% for item in collections.release %}
      <li>
        <a href="{{ item.url }}">
          {{ item.data.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h2><strong>radio</strong></h2>
  <ul>
    {% for item in collections.radio %}
      <li>
        <a href="{{ item.url }}">
          {{ item.data.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h2><strong>read</strong></h2>
  <ul>
    {% for item in collections.read %}
      <li>
        <a href="{{ item.url }}">
          {{ item.data.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h2><strong>live</strong></h2>
  <ul>
    {% for item in collections.live %}
      <li>
        <a href="{{ item.url }}">
          {{ item.data.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h2><strong>watch</strong></h2>
  <ul>
    {% for item in collections.watch %}
      <li>
        <a href="{{ item.url }}">
          {{ item.data.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
