<div class="intro">
  Over the last few years, the London based imprint, Hegoa, has taken great strides toward illuminating the shadowy world of contemporary music emerging from the Basque region, an autonomous community in northern Spain with its own distinct cultural traditions and language.
</div>

<div class="column">
  {% for block in ["releases", "radio", "read", "live", "watch"] %}
    <div class="entry-block">
      <div class="section-title">{{ block == "releases" ? "catalog" : block }}</div>
      <div class="entries">
        {% for item in collections[block] | reverse %}
          <a href="{{ item.url }}">{{ item.templateContent | strip | truncate(90, true, "...") }}</a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
