{% extends "base.njk" %}
{% block content %}
  <div class="page-content heg">
    <a class="home-link" href="/">← back to home</a>
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </div>
{% endblock %}
